<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Waitroom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
    <h1>Waiting...</h1>
    {% if start_button is defined %}
        <button href="{{ path('start_game') }}">Lancer la partie</button>
    {% endif %}

    <h2>Joueurs présents :</h2>
    <ul id="players-list">
        <li>Chargement…</li>
    </ul>

    <div id="host-actions" style="display:none;">
        <em>Vous êtes l'host de la partie</em>
        <form method="post" action="{{ path('start_game', {'roomId': room.id}) }}">
            <button type="submit">Start Game</button>
        </form>
    </div>

    <script>
        const roomId = {{ roomID }};
        const userId = {{ userID }};
        const url = `/room/${roomID}/players`;

        async function refreshPlayers() {
            const response = await fetch(url);
            const data = await response.json();

            const list = document.getElementById('players-list');
            list.innerHTML = '';

            if (data.players.length === 0) {
                list.innerHTML = '<li>Aucun joueur</li>';
                document.getElementById('host-actions').style.display = 'none';
                return;
            }

            data.players.forEach((p, index) => {
                const li = document.createElement('li');
                li.textContent = p.username;

                // marquer le host
                if (index === 0) {
                    li.textContent += " (host)";
                }

                list.appendChild(li);
            });

            if (data.players[0].id === currentUserId) {
                document.getElementById('host-actions').style.display = 'block';
            } else {
                document.getElementById('host-actions').style.display = 'none';
            }

        }

        // refresh 2 seconds
        setInterval(refreshPlayers, 2000);

        // refresh when charged
        refreshPlayers();
    </script>


    <p><a href="{{ path('homepage') }}">Retour</a></p>
    
</body>
</html>
