{% extends 'base.html.twig' %}

{% block title %}Résultat Histoire{% endblock %}
{% block body %}

        <!--barre de navegation-->
        <header class="main-header">
            <nav class="navbar navbar-expand-sm navbar-light p-4">
                <a href="index.html"><img src="{{ asset('images/TaleRoom(1).png')}}" alt="TaleRoom"></a>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-items user-profile">

                        <a class="nav-link" href="/profile">
                            <span class="user-name">{{user.nickname}}</span> 
                        </a>
                        
                    </li>
                </ul>    
            </nav>
        </header>

        <main class="hero-content-center d-flex ">
            
            <div class="container">
                <div class="row justify-content-center h-100 ">
                    <div class=" col-md-7 col-lg-7">
                        
                        <div class="card tale-room-card shadow">
                            <div class="card-body">
                                
                                <h1 class="title-name">{{ story.title }}</h1>

                                <div class="scrollable-content">
                                    <div id="stories-created">
                                        {% for player in story.players %}
                                            <div class="story-item mb-3 p-3 {% if not loop.last %}border-bottom{% endif %}">
                                                <h5 class="player-name">{{ player.name }}</h5>
                                                <p class="story-text mb-0">
                                                    {{ player.text }}
                                                </p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                        
                                
                                    
                                </div>   
                                    <div class="text-center">
                                        <button class="btn tale-room-btn">Voir suivant</button>
                                    </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>                

            </div>
            
        </main>

      
        
{% endblock %}